.decoration-none {
    text-decoration : none
}

.pad-right {
    padding-right: 30px
}

.ul-style-none {
    display: flex;
    list-style-type: none;
}

.login-nav {
    padding: 24px 50px;
    background-color: #eaead8;
}