.decoration-none {
    text-decoration : none
}

.pad-right {
    padding-right: 30px;
    font-size: 17px;
}

.ul-style-none {
    display: flex;
    list-style-type: none;
}

.login-nav {
    padding: 24px 50px;
    background-color: #eaead8;
}

.nav-item:hover{
    color : rgb(0, 0, 0)
}
