.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.title {

}
.formgroup {
    display: flex;
    justify-content: space-between;
    padding : 10px 0px;
    width: 350px;
}
.btn {
    margin: 31px 0px 0px 290px;
}